.navbar-custom {
  box-shadow: none;
  color: #fff;
  padding-top: 20px !important;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: white;
}

.navbar-custom .navbar-nav .nav-link {
  color: white;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8, %3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: transparent;
}

.nav-custom {
  box-shadow: none;
  color: #fff;
  padding-top: 20px !important;
  background-color: black !important;
}

.nav-custom .navbar-brand,
.nav-custom .navbar-text {
  color: white;
}

.nav-custom .navbar-nav .nav-link {
  color: white;
}


.page-header {
  min-height: 110vh;
  max-height: 100%;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.page-header .page-header-image {
  position: absolute;
  background-size: cover;
  background-position: 50%;
  background-image: url("../img/fond5.jpg");
  width: 100%;
  height: 100%;
  z-index: -1;
}

.txt-accueil {
  font-size: 30px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.71);
}

.txt-accueilP {
  font-size: 60px;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.71);
}

.acontainer {
  min-height: 70vh;
  height: 100%;
}
.wcontainer {
  background-color: #141414;
  max-height: 100%;
  min-height: 80vh;
  padding-top: 4%;
  /* height: 93vh; */
}

.custom-card {
  background-color: #141414;
  color: white;
  -webkit-box-shadow: 23px 30px 100px -5px rgba(0, 0, 0, 1);
  -moz-box-shadow: 23px 30px 100px -5px rgba(0, 0, 0, 1);
  box-shadow: 23px 30px 100px -5px rgba(0, 0, 0, 1);
}

.custom-card-P {
  -webkit-box-shadow: 23px 30px 100px -5px rgba(0, 0, 0, 1);
  -moz-box-shadow: 23px 30px 100px -5px rgba(0, 0, 0, 1);
  box-shadow: 23px 30px 100px -5px rgba(0, 0, 0, 1);
}

.background-left {
  padding-top: 4%;
  background-color: #293042;
}

.background-right {
  padding-top: 3%;
  background-color: #282a36;
  color: white;
}

.icon {
  width: 7%;
}

.white {
  color: white;
}
.black {
  color: black;
  font-weight: bold;
  text-decoration: underline;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.line-numbers {
  line-height: normal;
  margin-top: -1.6%;
  /* height: 12vh; */
  width: 1.5%;
  color: #6b7388;
  float: left;
  margin-left: -0.6%;
  font-family: Roboto;
  font-size: 18px;
  text-align: right;
}

.border-right {
  margin-left: 1.5%;
  border-right: 3px solid #62646c;
  float: left;
  height: 100%;
  width: 0.25%;
}

.atcontainer {
  color: white;
  height: 100%;
  min-height: 100vh;
  padding-top: 10%;
  background-image: url("https://user-images.githubusercontent.com/26179770/37276818-e3e358f4-2608-11e8-9659-05585e92a588.png");
}

.ccontainer {
  color: white;
  min-height: 90vh;
  height: 100%;
  background-color: #101010;
}

.footercontainer {
  background-color: #000;
}

.footericon {
  width: 5%;
}

.formcard {
  color: black;
}

.customButton {
  width: 100px;
}

.pjcontainer {
  padding-top: 5%;
  min-height: 100vh;
  height: 100%;
  background-color: black;
}
.portfolioposts {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: black;
}

.pjcard {
  -webkit-box-shadow: 13px 6px 93px -2px rgba(51, 48, 51, 1);
  -moz-box-shadow: 13px 6px 93px -2px rgba(51, 48, 51, 1);
  box-shadow: 13px 6px 93px -2px rgba(51, 48, 51, 1);
}

.portfolioposts h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: teal;
  font-size: 30px;
  text-decoration: underline;
  font-weight: bold;
}

.portfolioposts h4 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-top: 5%;
}

.portfolioposts p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: italic;
  font-size: 20px;
  text-align: center;
}

.about-content-container {
  margin-left: 3%;
  /* margin-top: -1.6%; */
}

.comments {
  color: #6272a4;
  line-height: 6px;
  font-size: 15px;
  margin-top: 15px;
}

.listinfo {
  margin-top: -10px;
  line-height: 6px;
}

.passions {
  text-indent: 50px;
}

.insidepassions {
  text-indent: 70px;
}

.bio {
  text-indent: 17px;
  color: #f1fa8c;
  line-height: normal;
}

.couleur {
  color: #ff97ff;
}

.couleurtxt {
  color: #f1fa8c;
}

html {
  /* background-image: url("../img/fond2.png") fixed; */
  scroll-behavior: smooth;
}

.thankscontainer {
  padding-top: 5%;
  min-height: 95vh;
  height: 100%;
  /* background-image: url("../img/fonthtanks.jpg"); */
}
.thanks {
  min-height: 100vh;
  max-height: 999px;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.thanks .thanks-image {
  position: absolute;
  background-size: cover;
  background-position: 50%;
  background-image: url("../img/fondthanks.jpg");
  width: 100%;
  height: 100%;
  z-index: -1;
}
